/*           Feature Content              */
$color-background-01                : #ffffff;
$color-background-02                : #f7f7f7;
$color-text-title-link              : #4d4959;
$color-text-decription              : #848789;

$font-size-title                    : 2.4rem;
$font-size-title-small              : 2rem;
$font-size-decription               : 2rem;
$font-size-decription-small         : 1.8rem;

$height-img-bg                      : 60rem;
$heigth-header-small                : 67%;
$heigth-header-img                  : 100% - $heigth-header-small ;

$url-img-init                       : '../img/';
$url-img-01                         : $url-img-init  + "img-bycle-large.png";
$url-img-02                         : $url-img-init  + "img-bycle-black.png";
$url-img-03                         : $url-img-init  + "img-bycle-suon-xe-red.png";
$url-img-04                         : $url-img-init  + "img-bycle-red-mini.png";
$url-header-img-01                  : $url-img-init  + "img-bycle-yen-xe.png";
$url-header-img-02                  : $url-img-init  + "img-bycle-yen-xe-black.png";
$url-header-img-03                  : $url-img-init  + "img-bycle-banh-xe.png";

$list-img   : ('01': $url-img-01, '02': $url-img-02, '03': $url-img-03, '04': $url-img-04);
$list-header-img : ('01': $url-header-img-01, '02': $url-header-img-02, '03': $url-header-img-03);

@each $key, $value in $list-img {
    .feature__img-bg-#{ $key } {
        background-image: url(#{ $value });
        height: $height-img-bg;
    }
}

@each $key, $value in $list-header-img {
    .feature__header-img-#{ $key } {
        background-image: url(#{ $value });
        height: $heigth-header-img;
        width: 100%;
    }
}

.feature__icon--top {
    height: fit-content;
    width: fit-content;
    transition: 0.7s;
}

.feature__header {
    background-color: $color-background-02;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 5rem 0rem 8rem;
    position: relative;

    &:hover .feature__icon--top {
        transform: scale(1.4);
    }
}

.feature__header--small {
    background-color: $color-background-01;
    height: 67%;
    width: 100%;
    text-align: center;
    padding: 3rem 3rem;

    &::after {
        content: ' ';
        display: block;
        width: 0;
        height: 0;
        border-left: 1rem solid transparent;
        border-right: 1rem solid transparent;
        border-top: 1rem solid $color-background-01;
        position: absolute;
        bottom: -1.5rem;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .feature__title{
        font-size: $font-size-title-small;
    }

    .feature__decription {
        font-size: $font-size-decription-small ;
        width: 100%;
        text-align: justify;
    }
}

.feature__title{
    color: $color-text-title-link;
    width: 100%;
    font-size: $font-size-title;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    letter-spacing: 0.4rem;
    margin-bottom: 2.5rem;
    
}

.feature__decription {
    color: $color-text-decription;
    font-size: $font-size-decription;
    font-weight: lighter;
    text-align: center;
    width: 80%;
    max-height: 50%;
    overflow: hidden;
}

.feature__list {

}

.feature__item {
    display: flex;
    flex-wrap: wrap;
}

.feature__img {
    position: relative;
}

.feature__img-bg {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.feature__img-branch {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.feature__context {
    height: $height-img-bg;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
}

.order-01 {
    order: 1;
}