$color-logo             : #64c29e;
$color-icon-twitter     : #56c7ee;
$color-icon-facebook    : #537bbd;
$color-icon-mail        : #eb5755;
$color-text-title       : #4d4959;
$color-text-decription  : #848789;
$color-place-holder     : #929292;
$color-text-title-img   : white;

$background-01          : #ffffff;
$background-02          : #f7f7f7;
$background-03          : #282f35;

$font-text-title                : 'lato bold';
$font-text-decription           : 'lato regular';


:root {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;

}